*.egg-info
*.pot
*.py[co]
.tox/
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
.DS_Store
qtips_server/qtips/__pycache__/
*.pyc
.env
qtipsenv
*.bak
db.sqlite3
