body {
    background: #f17959;
}

.text {
    background: #f17959
}

.text > *:nth-child(3) {
    text-align:center;
}

@media only screen and (max-width: 600px) {
    .text > *:nth-child(3) img {
        width: 80%;
    }
}

#footer {
    display: none;
}

#footer_sub{
    display:unset;
}